USE [master]
GO
/****** Object:  Database [pbl3_quiz_final]    Script Date: 15/04/2026 4:20:48 CH ******/
CREATE DATABASE [pbl3_quiz_final]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pbl3_quiz_final', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\pbl3_quiz_final.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'pbl3_quiz_final_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\pbl3_quiz_final_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pbl3_quiz_final].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pbl3_quiz_final]
GO
/****** Object:  User [pbl3_admin]    Script Date: 15/04/2026 4:20:48 CH ******/
CREATE USER [pbl3_admin] FOR LOGIN [pbl3_admin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [pbl3_admin]
GO
/****** Object:  Table [dbo].[attempts]    Script Date: 15/04/2026 4:20:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[attempts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[quiz_id] [int] NULL,
	[start_time] [datetime] NULL,
	[end_time] [datetime] NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 15/04/2026 4:20:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[questions]    Script Date: 15/04/2026 4:20:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[questions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[quiz_id] [int] NULL,
	[question_text] [nvarchar](max) NOT NULL,
	[option_a] [nvarchar](255) NOT NULL,
	[option_b] [nvarchar](255) NOT NULL,
	[option_c] [nvarchar](255) NOT NULL,
	[option_d] [nvarchar](255) NOT NULL,
	[correct_option] [char](1) NULL,
	[points] [int] NULL,
	[explanation] [nvarchar](max) NULL,
	[image_url] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quizzes]    Script Date: 15/04/2026 4:20:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quizzes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[description] [nvarchar](max) NULL,
	[category_id] [int] NULL,
	[creator_id] [int] NULL,
	[time_limit] [int] NOT NULL,
	[created_at] [datetime] NULL,
	[is_public] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[results]    Script Date: 15/04/2026 4:20:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[results](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[attempt_id] [int] NULL,
	[user_id] [int] NULL,
	[quiz_id] [int] NULL,
	[total_points] [int] NULL,
	[correct_answers] [int] NULL,
	[wrong_answers] [int] NULL,
	[completed_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_answers]    Script Date: 15/04/2026 4:20:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_answers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[attempt_id] [int] NULL,
	[question_id] [int] NULL,
	[selected_option] [char](1) NULL,
	[is_correct] [bit] NULL,
	[answered_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 15/04/2026 4:20:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[role] [varchar](10) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [name], [description]) VALUES (1, N'Chung', N'Danh mục đề thi mặc định')
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[questions] ON 

INSERT [dbo].[questions] ([id], [quiz_id], [question_text], [option_a], [option_b], [option_c], [option_d], [correct_option], [points], [explanation], [image_url]) VALUES (1, 2, N'Minh Phát có đẹp trai không?', N'có', N'yes', N'chuẩn', N'tất cả đáp án trên', N'D', 10, N'chuẩn r còn hỏi nữa', N'https://anhthethao.edu.vn/upload/2025/01/meme-trung-quoc-031.webp')
INSERT [dbo].[questions] ([id], [quiz_id], [question_text], [option_a], [option_b], [option_c], [option_d], [correct_option], [points], [explanation], [image_url]) VALUES (2, 3, N'Phát', N'A', N'B', N'C', N'D', N'A', 10, NULL, NULL)
INSERT [dbo].[questions] ([id], [quiz_id], [question_text], [option_a], [option_b], [option_c], [option_d], [correct_option], [points], [explanation], [image_url]) VALUES (3, 3, N'111', N'1', N'111', N'111', N'222', N'C', 10, N'1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111', NULL)
SET IDENTITY_INSERT [dbo].[questions] OFF
GO
SET IDENTITY_INSERT [dbo].[quizzes] ON 

INSERT [dbo].[quizzes] ([id], [title], [description], [category_id], [creator_id], [time_limit], [created_at], [is_public]) VALUES (2, N'test1', N'test1 pbl', 1, NULL, 30, CAST(N'2026-04-08T00:09:10.443' AS DateTime), NULL)
INSERT [dbo].[quizzes] ([id], [title], [description], [category_id], [creator_id], [time_limit], [created_at], [is_public]) VALUES (3, N'test2', N'test2 nhiều câu hỏi hơn test1', 1, NULL, 1, CAST(N'2026-04-08T00:43:05.520' AS DateTime), NULL)
INSERT [dbo].[quizzes] ([id], [title], [description], [category_id], [creator_id], [time_limit], [created_at], [is_public]) VALUES (5, N't', N'', 1, NULL, 30, CAST(N'2026-04-08T03:10:13.110' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[quizzes] OFF
GO
SET IDENTITY_INSERT [dbo].[results] ON 

INSERT [dbo].[results] ([id], [attempt_id], [user_id], [quiz_id], [total_points], [correct_answers], [wrong_answers], [completed_at]) VALUES (1, NULL, 1, 2, 0, 0, 1, CAST(N'2026-04-08T00:38:23.370' AS DateTime))
INSERT [dbo].[results] ([id], [attempt_id], [user_id], [quiz_id], [total_points], [correct_answers], [wrong_answers], [completed_at]) VALUES (2, NULL, 1, 2, 100, 1, 0, CAST(N'2026-04-08T00:38:41.870' AS DateTime))
INSERT [dbo].[results] ([id], [attempt_id], [user_id], [quiz_id], [total_points], [correct_answers], [wrong_answers], [completed_at]) VALUES (3, NULL, 1, 2, 0, 0, 1, CAST(N'2026-04-08T00:38:57.607' AS DateTime))
SET IDENTITY_INSERT [dbo].[results] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [email], [password_hash], [role], [created_at]) VALUES (1, N'Phat123', N'phat792006@gmail.com', N'$2b$10$1ChRyNCItJ25aFwIj284h.H.3X0Vyk/Lz8vEi3i/snbfN98lLRCSi', N'student', CAST(N'2026-03-13T02:01:07.467' AS DateTime))
INSERT [dbo].[users] ([id], [username], [email], [password_hash], [role], [created_at]) VALUES (3, N'Phát Test', N'nguyenminhphat79@gmail.com', N'$2b$10$nu2ttajiSYN/vJJtqCU0LOchWSS5w1P4yL/8B18sEe.ZGZy91WOgi', N'student', CAST(N'2026-03-13T11:48:00.107' AS DateTime))
INSERT [dbo].[users] ([id], [username], [email], [password_hash], [role], [created_at]) VALUES (6, N'Phát Minh', N'nguyenminhphat@gmail.com', N'$2b$10$LCqrnRHseIz7Sh2obZrxv.5Q7l2m0MiMBwBe1psx/eJNvppXOrB6i', N'student', CAST(N'2026-04-08T01:13:01.937' AS DateTime))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E61644350C4F2]    Script Date: 15/04/2026 4:20:49 CH ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC572530D3ED6]    Script Date: 15/04/2026 4:20:49 CH ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[attempts] ADD  DEFAULT (getdate()) FOR [start_time]
GO
ALTER TABLE [dbo].[attempts] ADD  DEFAULT ('ongoing') FOR [status]
GO
ALTER TABLE [dbo].[questions] ADD  DEFAULT ((10)) FOR [points]
GO
ALTER TABLE [dbo].[quizzes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[quizzes] ADD  DEFAULT ((1)) FOR [is_public]
GO
ALTER TABLE [dbo].[results] ADD  DEFAULT ((0)) FOR [total_points]
GO
ALTER TABLE [dbo].[results] ADD  DEFAULT ((0)) FOR [correct_answers]
GO
ALTER TABLE [dbo].[results] ADD  DEFAULT ((0)) FOR [wrong_answers]
GO
ALTER TABLE [dbo].[results] ADD  DEFAULT (getdate()) FOR [completed_at]
GO
ALTER TABLE [dbo].[user_answers] ADD  DEFAULT (getdate()) FOR [answered_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('student') FOR [role]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[attempts]  WITH CHECK ADD FOREIGN KEY([quiz_id])
REFERENCES [dbo].[quizzes] ([id])
GO
ALTER TABLE [dbo].[attempts]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[questions]  WITH CHECK ADD FOREIGN KEY([quiz_id])
REFERENCES [dbo].[quizzes] ([id])
GO
ALTER TABLE [dbo].[quizzes]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[quizzes]  WITH CHECK ADD FOREIGN KEY([creator_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[results]  WITH CHECK ADD FOREIGN KEY([attempt_id])
REFERENCES [dbo].[attempts] ([id])
GO
ALTER TABLE [dbo].[results]  WITH CHECK ADD FOREIGN KEY([quiz_id])
REFERENCES [dbo].[quizzes] ([id])
GO
ALTER TABLE [dbo].[results]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_answers]  WITH CHECK ADD FOREIGN KEY([attempt_id])
REFERENCES [dbo].[attempts] ([id])
GO
ALTER TABLE [dbo].[user_answers]  WITH CHECK ADD FOREIGN KEY([question_id])
REFERENCES [dbo].[questions] ([id])
GO
ALTER TABLE [dbo].[attempts]  WITH CHECK ADD CHECK  (([status]='abandoned' OR [status]='completed' OR [status]='ongoing'))
GO
ALTER TABLE [dbo].[questions]  WITH CHECK ADD CHECK  (([correct_option]='D' OR [correct_option]='C' OR [correct_option]='B' OR [correct_option]='A'))
GO
ALTER TABLE [dbo].[user_answers]  WITH CHECK ADD CHECK  (([selected_option]='D' OR [selected_option]='C' OR [selected_option]='B' OR [selected_option]='A'))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([role]='admin' OR [role]='student'))
GO
USE [master]
GO
